body {
  text-align:center;
  background-image:
   url("http://img14.deviantart.net/1f69/i/2015/149/4/f/eeveelution_wallpaper_by_blargmarffins-d8v7p55.png");
}

button {
  font-size:50px;
  font-family: Comic Sans MS;
  color: white;
  background: blue;
  border: 10px solid green;
  
}